.avatar-profile {
    min-width: 250px;
    max-width: 275px;
    max-height: fit-content;
    background-color: white;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.080);
    padding: 1em;
    margin-bottom: 1.5em;
    border-radius: 16px;        

}
.avatar-card__container {
    display: grid;
    place-items: center;
}
.avatar-profile__photo {
        border: none;
        overflow: hidden;
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.200);
        border-radius: 50%;
        max-width: 50%;
}
.avatar-profile__name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: .5em;
}

.avatar-profile__username {
    margin-top: 0;
    color: gray;
}

.avatar-profile__info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: .5em 0;
    
}
.avatar-profile__info span  {

}