header {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem auto;
}

.header__logo {
    font-size: 1.2rem;
    font-weight: 700;
}

.nav-links {
    display: flex;
    list-style: none;
}
.active {
    border-bottom: 3px solid  rgba(65, 54, 241, .4);
}

.nav-link {
    margin: 0 1em;
}

/* mobile menu */
.menu-button {
    display: none;
    box-shadow: none;
}
.mobile-nav-links {
    display: none;
}
.mobile-menu {
    width: 100%;
    overflow: hidden;
}
@media screen and (max-width: 480px) {
 .menu-button {
     display: block;
     transform: scale(1.2);
     color: black;
     box-shadow: none;
 }
 .menu-button:hover {
box-shadow: none;
 }
 .icon-button {
     
 }
 .nav-links {
     display: none;
 }
 .header__container {
    padding: 1em;
    justify-content: space-between;
 }
 .mobile-nav-links {
     display: flex;
     flex-direction: column;
     align-items: center;
     list-style: none;
     justify-content: center;
     padding: 0 20px;
     
     position: absolute;
     top: -50%;
     width: 87.5%;
     background-color: #ffffff;

     /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
     transition: all .5s ease-in-out;
 }
 .mobile-nav-links li {
     margin-bottom: 20px;
     font-weight: bold;
 }
 #mobile-menu {
    overflow: hidden !important;     
    display: grid;
    align-items: center;
 }
.mobile-nav-links-show {
    top: 10%;
    /* transform: translateX(%); */
    overflow: show;
}

}