
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, Roboto, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

background: #EAF2FF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* defaults */
a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.icon {
 font-size: 24px;
 height: 1em;
 width: 1em;
 display: grid;
 align-items: center;
} 

.icon-button {
  border: none;
  background: none;
  outline: none;
  transition: all .550ms ease;
}