:root {
  --fonts :  -apple-system,
  poppins
  BlinkMacSystemFont,
  'Segoe UI',
  'Roboto',
  'Oxygen',
  'Ubuntu',
  'Cantarell',
  'Fira Sans',
  'Droid Sans',
  'Helvetica Neue',
  sans-serif;

  --gradient: linear-gradient(45deg, rgba(135, 67, 255, 1) 0%, rgba(65, 54, 241, 1) 100%);
  --horizontal-gradient: linear-gradient(90deg, rgba(135, 67, 255, 1) 0%, rgba(65, 54, 241, 1) 100%);
  --shadow: 0px 6px 20px rgba(0, 0, 0, 0.185);
  --hover-shadow: 0px 3px 20px rgba(65, 54, 241, .7);
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, poppins BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
scroll-behavior: smooth;
background: #EAF2FF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::-webkit-scrollbar {
  width: 6px;
  border-radius: 50px;
  background-color: #D8D8D8;
}

body::-webkit-scrollbar-thumb {
background-color: #4f39f4b6;
  border-radius: 50px;
}
::selection {
  color: white;
  border-radius: 2px;
  background: rgba(65, 54, 241, .7);
}
.app {
  overflow: hidden;
  width: 100%;
  scroll-behavior: smooth;
}
/* defaults */
a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
  margin: .5em 0;
  padding: 0;
}
.icon {
  
}
.icon {
 font-size: 24px;
 height: 1em;
 width: 1em;
 display: grid;
 align-items: center;
} 

.icon-button {
  border: none;
  background: none;
  outline: none;
  transition: all .550ms ease;
}

  /* section main */
  section {
    margin: 1.5em 1em;
  }
  section h2 {
    width: 100%;
  }

/* input defaults */
.search-field{
  border: none;
  outline: none;
  padding: .8em;
  border-radius: 10px;
  font-size: 1.1rem;
  font-family: var(--fonts);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.103);
}
button {
  border: none;
  outline: none;
  padding: .8em;
  border-radius: 8px;
  background: var(--horizontal-gradient);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  cursor: pointer;
  box-shadow: var(--shadow);
  transition: all 500ms ease;
}

button:hover {
  box-shadow: var(--hover-shadow);
}

.primary-button {
  width: 100%;
  font-weight: 700;
  letter-spacing: 1px;
}
img {
  height: 100%;
  width: 100%;
  box-shadow: var(--shadow);
}
